.html{
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
  margin-left: 0px;
  margin-right: 0px;
}

.body_main{
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  position: absolute;
  background-color: #EFEFEF;
}

.header_main{
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
  text-align: center;
  margin-top: 0px;
  width: 100%;
  height: 300px;
  
  background-color: #5ABF86;
}

.head1{
  text-align: center;
  margin-top: 0px;
  padding-top: 60px;
  font-size: 20px;
  font-weight: normal;
  height: 300px;
  width: 100%;
}

a.header_link{
  color: #000000;
  text-decoration:none;
  font-size:20px;
  font-weight: normal;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:400;
  letter-spacing:0;
  line-height:12px;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  text-align:center;
}

a.header_link:hover{
  color: #000000;
  text-decoration:none;
  font-size:20px;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:400;
  letter-spacing:0;
  line-height:12px;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  text-align:center;
}

a.header_link_2{
  color: #000000;
  text-decoration:none;
  font-size:40px;
  font-weight: normal;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:400;
  letter-spacing:0;
  line-height:12px;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  text-align:center;
}

a.header_link_2:hover{
  color: #000000;
  text-decoration:none;
  font-size:40px;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:400;
  letter-spacing:0;
  line-height:12px;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  text-align:center;
}
